.message-box {
    min-width: 100vw;
    height: 300px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.message {
    color: #2a98dc;
    font-size: 16px;
    font-weight: bold;
}
.dropdown-item {
    color:rgb(33, 150, 243);
}
