h1 {
    text-align: center;
}
h2 {
    margin: 0 !important;
}
h3 {
    text-align: center !important;
}
.container {
    padding-top: 20px !important;
    margin-bottom: 50px !important;
}
.dropdown-item {
    color:rgb(33, 150, 243);
}
