{% extends 'base8000.html' %}
{% block head %}
    {% load static %}
     <link rel="stylesheet" href="{% static 'distribusi/distribusi-bansos.css' %}">
    {% comment %} <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script> {% endcomment %}
{% endblock %}
{% block title %}My Bansos{% endblock %}
{% comment %} <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>tes</title>
  
  </head> {% endcomment %}
  <style>

  </style>
{%block nav%}
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown">
    Dashboard
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/user">My Profile</a></li>
    <li><a class="dropdown-item" href="/user/dashboard/mybansos">MyBansos</a></li>
    <li><a class="dropdown-item" href="/user/dashboard/history">History</a></li>
  </ul>
</li>
{%if account.is_verified%}
<li class="nav-item">
  <a class="nav-link" href="/laporan" role="button">
    Report Bansos
  </a>
</li>
{%endif%}
{%endblock%}
{%block rightnav%}
    <li class="nav-item">
        <div class="nav-link" style="color:white;">
            Hello, {{ account.name }} 
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'beranda:logout_beranda' %}">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF" class="svg-as-button"><path d="M0 0h24v24H0z" fill="none"/><path d="M17 7l-1.41 1.41L18.17 11H8v2h10.17l-2.58 2.58L17 17l5-5zM4 5h8V3H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h8v-2H4V5z"/></svg>
        </a>
    </li>
{%endblock%}
  {% comment %} <body> {% endcomment %}
{% block body %}
  
  <div>
  <form method="get" id ="sbform" action=''>
  {% comment %} <select name="status" id="id_status">
        <option value="none" selected disabled hidden>
          Select an Option
            <option value ="all">ALL</option>  
      </option>
        <option value="queued">QUEUED</option>
        <option value="sent">SENT </option>
  </select> {% endcomment %}
  <button type="submit" class="btn btn-outline-primary" style="margin-left : 15px;margin-top:15px; margin-bottom:15px;" value='all' name='all'>All</buttoN>
  <button type="submit" class="btn btn-outline-primary" style="margin-top:15px;margin-bottom:15px;" value ='queued'name='queued'>Queue</button>
  <button type="submit" class="btn btn-outline-primary" style="margin-top:15px;margin-bottom:15px;" value='sent' name='sent'>Sent</buttoN>
  {% comment %} <select name ="status" id= "id_status">
  <option value ="all">---------</option>  
  <option value="queued" label=> QUEUED </option>
  <option value="sent" > SENT </option>
  </select> {% endcomment %}
  </form>
  </div>
  <div class ='col-md-6' style="padding-left:15px">
  {% if not page.object_list %}
  
<div class="alert alert-success" role="alert" style="margin-top:20px;margin-left:10px;">
  <h4 class="alert-heading">None!</h4>
  <p>You do not have anything right now.</p>
  <hr>

</div>
  {%endif%}
    {% for bans in page.object_list%}
      {% for bansos in bansosqueue%}

        {% if bansos.owning_group.id_bansos_group == bans.id_bansos_group %}
        


        <div class="project-info-box">    
          <h2 style ="color : #348ceb"> Bansos Detail </h2>
          <hr></hr>
          <p><b>Responsible Admin     :</b> {{bansos.owning_group.responsible_admin.name}}</p>
          <p><b>ID BansosGroup        :</b> {{bansos.owning_group.id_bansos_group}}</p>
          <p><b>Receiving Area        :</b> {{bans.receiving_provinsi.area_name}}</p>
          <p><b>Status                :</b> {{bansos.owning_group.status}}</p>
          <p><b>Kelurahan             :</b> {{bansos.owning_group.kelurahan}}</p>
          <p><b>Kecamatan             :</b> {{bansos.owning_group.kecamatan}}</p>
          <p><b>Provinsi              :</b> {{bansos.owning_group.provinsi}}</p>
          <p><b>Destination Kelurahan :</b> {{bans.destination_kelurahan}}</p>
          <p><b>Destination Kecamatan :</b> {{bansos.owning_group.destination_kecamatan}}</p>
          <p><b>Destination Kabupaten :</b> {{bansos.owning_group.destination_kabupaten_kota}}</p>
          <p><b>Bentuk Bantuan        :</b></p>
          
           <ul class="list-group">
            {% for x,y in bansos.owning_group.bentuk_bantuan.items%}
              <li class="list-group-item d-flex justify-content-between align-items-center">
                {{x}}
              <span class="badge rounded-pill bg-info text-dark">{{y}}</span>
              </li>
            {% endfor %}
            </ul>
        </div>
        <!-- / project-info-box -->
        {% comment %} <h5>Responsible Admin : {{bansos.owning_group.responsible_admin.name}}
        <h5>ID BANSOSGROUP: {{bansos.owning_group.id_bansos_group}}
        <h5>Receiving Area : {{bans.receiving_provinsi.area_name}}
        <h5>Status : {{bansos.owning_group.status}} </h5>
        <h5>Kelurahan: {{bansos.owning_group.kelurahan}}
        <h5>Kecamatan: {{bansos.owning_group.kecamatan}}
        <h5>Provinsi : {{bansos.owning_group.provinsi}} </h5>
        <h5>Destination Kelurahan: {{bans.destination_kelurahan}}</h5>
        <h5>Destination Kecamatan: {{bansos.owning_group.destination_kecamatan}}</h5>
        <h5>Destination Kabupaten : {{bansos.owning_group.destination_kabupaten_kota}} </h5> {% endcomment %}
    <h2 style ="color : #348ceb;">Bansos Previous Location </h2>
      {%for x in prevloc%}
        {%if x.bansos_group.id_bansos_group == bans.id_bansos_group%}
    <div class="project-info-box">    

        <p><b>Kelurahan  :</b> {{x.kelurahan}}</p>
        <p><b>Kecamatan  :</b> {{x.kecamatan}}</p>
        <p><b>Provinsi   :</b> {{x.provinsi}}</p>
        <p><b>Status     :</b> {{x.status}}</p>
        <p><b>Time       :</b> {{x.time_stamp}}</p>

{% comment %}         
        <h5> Kelurahan : {{x.kelurahan}} </h5>
        <h5> Kecamatan : {{x.kecamatan}} </h5>
        <h5> Provinsi : {{x.provinsi}} </h5>
        <h5> Status : {{x.status}} </h5>
        <h5> Time : {{x.time_stamp}} </h5> {% endcomment %}
                </div>
        {%else%}
        {%endif%}
        
        {%endfor%}
        {%endif%}
        {%endfor%}
        {% endfor %}

    </div>

    <nav aria-label="Page navigation example" style ="padding:15px;">
      <ul class="pagination">
        {% if page.has_previous %}
        <li class="page-item"><a class="page-link" href="{% url 'mybansos' %}?page={{ page.previous_page_number }}">Previous</a></li>
        {% endif %}
        {% if page.has_next %}
        <li class="page-item"><a class="page-link" href="{% url 'mybansos' %}?page={{ page.next_page_number }}">Next</a></li>
        {% endif %}
      </ul>
    </nav>
    {% comment %} <div class="page-links" >
        {% if page.has_previous %}
        <a href="{% url 'mybansos' %}?page={{ page.previous_page_number }}">Previous Page</a>
        {% endif %}
        {% if page.has_next %}
        <a href="{% url 'mybansos' %}?page={{ page.next_page_number }}">Next Page</a>
        {% endif %}
    </div> {% endcomment %}
    
    {% comment %} function getOption() {
  console.log(document.getElementById('id_status').value);
} {% endcomment %}
   
    {%endblock%}
  {% comment %} </body>
  
</html> {% endcomment %}
 