{% extends 'base8000.html' %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'distribusi/distribusi-bansos.css' %}">
    <script src='https://code.jquery.com/jquery-3.4.1.min.js' type='text/javascript' defer></script> 
    <link rel="stylesheet" href="{% static 'verif.css' %}">
{% endblock %}

    
{% block title %}Verify{% endblock %}

{% block nav %}
    <li class="nav-item">
        <a href="{% url 'add_info' %}" class="nav-link">My Profile</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'verification' %}" class="nav-link">Verification Dashboard</a>
    </li> 
{% endblock %}

{% block rightnav %}
    <li class="nav-item">
        <div class="nav-link" style="color:white;">
            Hello, {{ user.admin.name }} 
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'beranda:logout_beranda' %}">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF" class="svg-as-button"><path d="M0 0h24v24H0z" fill="none"/><path d="M17 7l-1.41 1.41L18.17 11H8v2h10.17l-2.58 2.58L17 17l5-5zM4 5h8V3H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h8v-2H4V5z"/></svg>
        </a>
    </li>
{% endblock %}

{% block body %}
      <div class="title-container">
        <h1>User Information</h1>
        <h2>Telephone Number : {{ user_to_verify }}</h2>
        </div>
          <section class="adjusted-section">
            <div class="special-form-container">
              <div style="font-weight: bold;">NAME </div>
                <div class="row"
                style = "background-color:lightgray; border-radius: 5px; margin-left: 1px;margin-right: 1px;">
                  <span
                  style="padding: 5px;">{{user_to_verify.accountmasyarakat.name}}</span>
                </div>
                <div style="font-weight: bold; padding-top: 5px;">NIK </div>
                <div class="row"
                  style = "background-color:lightgray; border-radius: 5px; margin-left: 1px;margin-right: 1px;">
                  <span 
                  style="padding: 5px">{{user_to_verify.accountmasyarakat.NIK}}</span>
                </div>
                <div style="font-weight: bold; padding-top: 5px;">SKTM </div>
                <div class="row"
                  style = "background-color:lightgray; border-radius: 5px; margin-left: 1px;margin-right: 1px;">
                  <span style="padding: 5px;">{{user_to_verify.accountmasyarakat.SKTMLink}}</span>
                </div>
                <div style="font-weight: bold; padding-top: 5px;">BUKU TABUNGAN </div>
                <div class="row"
                  style = "background-color:lightgray; border-radius: 5px; margin-left: 1px;margin-right: 1px;">
                  <span style="padding: 5px;"> {{user_to_verify.accountmasyarakat.bukuTabunganLink}}</span>
                </div>
                <div style="font-weight: bold; padding-top: 5px;">LOCATION </div>
                <div class="row"
                  style = "background-color:lightgray; border-radius: 5px; margin-left: 1px;margin-right: 1px;">
                  <span style="padding: 5px;">{{user_to_verify.accountmasyarakat.partOf.area_name}} </span>
                </div>


                    
                    <!-- <div class="card-header">
                        <h1>Name : {{user.accountmasyarakat.name}}</h1>
                        <h2>{{user}}</h2>
                    </div> -->
                    
                    <!-- <div class="card-body">
                        <h5 class="card-title"> NIK  : {{user.accountmasyarakat.NIK}} </h5>
                        <h5 class="card-title"> SKTM :{{user.accountmasyarakat.SKTMLink}} </h5>
                        <h5 class="card-title"> Buku Tabungan : {{user.accountmasyarakat.bukuTabunganLink}} </h5>
                        <h5 class="card-title"> Location : {{user.accountmasyarakat.partOf.area_name}} </h5>
                    </div>
                    
                </div> -->
                <div class="text-center" id="firstextcenter">
                </div>
            </div>
        </div>

    </div>

    <div class="text-center" id="secondtextcenter">
        <button type="button" class="btn btn-success" onclick="window.location.href='../accept/{{user_to_verify.telephone}}'">
            Verify User
        </button>
        <button type="button" class="btn btn-danger" onclick="window.location.href='../reject/{{user_to_verify.telephone}}'">
            Reject User
        </button>
    </div>
 

   
{% endblock %}