{% extends 'base8000.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'distribusi/distribusi-bansos.css' %}">
    <script src="{% static 'distribusi/js/update-shipping.js' %}" defer></script>
{% endblock %}

{% block nav %}
    <li class="nav-item">
        <a href="{% url 'add_info' %}" class="nav-link">My Profile</a>
    </li>
    <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">Generator Dashboard</a>
        <ul class="dropdown-menu" id="generator-dropdown">
            <li class="dropdown-item">
                <a href="{% url 'distribusi:all_bansos' %}" class="dropdown-item">Dashboard</a>
            </li>
            <li class="dropdown-item">
                <a href="{% url 'distribusi:register_area' %}" class="dropdown-item">Register Area</a>
            </li>
        </ul>
    </li>
{% endblock %}

{% block rightnav %}
    <li class="nav-item">
        <div class="nav-link" style="color:white;">
            Hello, {{ user.admin.name }} 
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'beranda:logout_beranda' %}">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF" class="svg-as-button">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M17 7l-1.41 1.41L18.17 11H8v2h10.17l-2.58 2.58L17 17l5-5zM4 5h8V3H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h8v-2H4V5z"/>
            </svg>
        </a>
    </li>
{% endblock %}

{% block body %}
<div class="title-container">
    <h1>Register Area</h1>
</div>
<section class="adjusted-section">
<form method="POST">
{% csrf_token %}
<div class="special-form-container try-center">
    <div class="col-sm-6">
        <div class="percent-100">
            <label for="provinsi-code">Province Code</label>
            <input 
            id="provinsi-code" 
            name="provinsi-code"
            class="form-control special-grey percent-100"
            placeholder="Enter Province Code"
            />
        </div>
        <div class="percent-100">
            <label for="provinsi-name">Province Name</label>
            <input 
            id="provinsi-name" 
            name="provinsi-name"
            placeholder="Enter Provinsi Name"
            class="form-control special-grey percent-100"
            />
        </div>
        <br/>
        <button class="btn btn-curious">Register</button>
    </div>
</div>
{% if messages %}
<div class="error-container">
    <div class="alert alert-primary alert-dismissible align-items-center d-flex fade show" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
            <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
            <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
        </svg>
        <div>
            Notes on Previous Entry:
            <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
            </ul>
            
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{% endif %}
</section>

{% endblock %}