{% extends 'base8000.html' %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'distribusi/distribusi-bansos.css' %}">
    <script src='https://code.jquery.com/jquery-3.4.1.min.js' type='text/javascript' defer></script>
    <script src="{% static 'distribusi/js/bansos-index.js' %}" defer></script>
    <script src="{% static 'distribusi/js/toggler-handler.js' %}" defer></script>
{% endblock %}

{% block title %}All Bansos{% endblock %}

{% block nav %}
    <li class="nav-item">
        <a href="{% url 'add_info' %}" class="nav-link">My Profile</a>
    </li>
    <li class="nav-item dropdown">
        <a href="#" class="nav-link active dropdown-toggle" role="button" data-bs-toggle="dropdown">Generator Dashboard</a>
        <ul class="dropdown-menu" id="generator-dropdown">
            <li class="dropdown-item">
                <a href="{% url 'distribusi:all_bansos' %}" class="dropdown-item">Dashboard</a>
            </li>
            <li class="dropdown-item">
                <a href="{% url 'distribusi:register_area' %}" class="dropdown-item">Register Area</a>
            </li>
        </ul>
    </li>
{% endblock %}

{% block rightnav %}
    <li class="nav-item">
        <div class="nav-link" style="color:white;">
            Hello, {{ user.admin.name }} 
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'beranda:logout_beranda' %}">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF" class="svg-as-button">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M17 7l-1.41 1.41L18.17 11H8v2h10.17l-2.58 2.58L17 17l5-5zM4 5h8V3H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h8v-2H4V5z"/>
            </svg>
        </a>
    </li>
{% endblock %}
    
{% block body %}
    <div class="title-container">
        <h1>Distribution Dashboard</h1>
        <a href="{% url 'distribusi:generate_bansos' %}" class="btn btn-curious btn-curious-bordered">Generate Bansos</a>
        <a href="{% url 'distribusi:register_area' %}" class="btn btn-curious btn-curious-bordered">Register Area</a>
        <div class="btn-group">
            <button class="btn btn-curious without-margin btn-curious-bordered btn-curious-selected" onclick="toggleQueued()" id="queued-dash-btn">Queued</button>
            <button class="btn btn-curious without-margin btn-curious-bordered btn-curious-selected" onclick="toggleSent()" id="sent-dash-btn">Sent</button>
            <button class="btn btn-curious without-margin btn-curious-bordered btn-curious-selected" onclick="toggleReceived()" id="received-dash-btn">Received</button>
        </div>
    </div>
    <section id="queued-bansos-section" class="adjusted-section" id="queued-bansos-section">
        <div class="special-form-container grid-padding">
            <span class="bansos-stat-title" id="queued-title">Queued Bansos Group</span>
            <div class="bansos-grid-container" id="queued-bansos-grid"></div>
        </div>
    </section>
    <section class="bansos-list-container adjusted-section" id="sent-bansos-section">
        <div class="special-form-container grid-padding">
            <span class="bansos-stat-title" id="sent-title">Sent Bansos Group</span>
            <div class="bansos-grid-container" id="sent-bansos-grid"></div>
        </div>
    </section>
    <section class="bansos-list-container adjusted-section" id="received-bansos-section">
        <div class="special-form-container grid-padding">
            <span class="bansos-stat-title" id="received-title">Received Bansos Group</span>
            <div class="bansos-grid-container" id="received-bansos-grid"></div>
        </div>
    </section>
{% endblock %}