{% extends 'base8000.html' %}
{% block head %}
    {% load static %}
    <link href="{% static 'distribusi/distribusi-bansos.css' %}" rel="stylesheet">
    <script src='https://code.jquery.com/jquery-3.4.1.min.js' type='text/javascript' defer></script>
    <script src="{% static 'distribusi/js/toggler-handler.js' %}" defer></script>
{% endblock %}

{% block nav %}
    <li class="nav-item">
        <a href="{% url 'add_info' %}" class="nav-link">My Profile</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'distribusi:tracking_admin_dashboard' %}" class="nav-link active">Tracking Dashboard</a>
    </li>
{% endblock %}

{% block rightnav %}
    <li class="nav-item">
        <div class="nav-link" style="color:white;">
            Hello, {{ user.admin.name }} 
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'beranda:logout_beranda' %}">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF" class="svg-as-button">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M17 7l-1.41 1.41L18.17 11H8v2h10.17l-2.58 2.58L17 17l5-5zM4 5h8V3H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h8v-2H4V5z"/>
            </svg>
        </a>
    </li>
{% endblock %}

{% block title %}Tracking Admin Dashboard{% endblock %}
{% block body %}
    <div class="blue-box">
        <div class="preliminary-container">
            <h1>Tracking Admin Dashboard</h1>
        </div>
    </div>
    <div class="enclosing-container">

    <div class="tracking-card-container">
        <h3>Currently Active Bansos</h3>
        {% for bansos in bansos_all %}
            {% if bansos.status != 'received' %}
                <div class="card tracking-card">
                    <div class="card-header">
                        {{ bansos.status }} 
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ bansos.receiving_provinsi.area_name }} - {{ bansos.bansospreviouslocation_set.all.0.time_stamp }}</h5>
                        <p class="card-text">Destination of this Bansos is {{ bansos.receiving_provinsi.accountmasyarakat_set.all | length }} citizens in 
                            {{ bansos.receiving_provinsi.area_name }}. This bansos will be sent to {{ bansos.destination_kelurahan }}, {{ bansos.destination_kecamatan }}, {{ bansos.destination_kabupaten_kota }}, {{ bansos.receiving_provinsi.area_name }}.</p>
                        <a href="{% url 'distribusi:update_shipping' bansos.id_bansos_group %}" class="btn btn-primary">Update
                            <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF">
                                <g><rect fill="none" height="24" width="24" x="0"/></g><g><g><g>
                                <path d="M21,10.12h-6.78l2.74-2.82c-2.73-2.7-7.15-2.8-9.88-0.1c-2.73,2.71-2.73,7.08,0,9.79s7.15,2.71,9.88,0 C18.32,15.65,19,14.08,19,12.1h2c0,1.98-0.88,4.55-2.64,6.29c-3.51,3.48-9.21,3.48-12.72,0c-3.5-3.47-3.53-9.11-0.02-12.58 s9.14-3.47,12.65,0L21,3V10.12z M12.5,8v4.25l3.5,2.08l-0.72,1.21L11,13V8H12.5z"/>
                                </g></g></g>
                            </svg>
                        </a>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <br>
    <div class="inline-heading">
        <h3>Previous Bansos
            <a >
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-up-circle animated" viewBox="0 0 16 16" id="previous-toggler">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
                </svg>
            </a>
        </h3>
        
    </div>
    <div class="tracking-card-container hideable" style="display: none;">
    {% for bansos in bansos_all %}
        {% if bansos.status == 'received' %}
        <div class="card tracking-card">
            <div class="card-header">
                {{ bansos.status }} 
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ bansos.receiving_provinsi.area_name }} - {{ bansos.bansospreviouslocation_set.all.0.time_stamp }}</h5>
                <p class="card-text">Destination of this Bansos is {{ bansos.receiving_provinsi.accountmasyarakat_set.all | length }} citizens in 
                    {{ bansos.receiving_provinsi.area_name }}. This bansos has been sent to {{ bansos.destination_kelurahan }}, {{ bansos.destination_kecamatan }}, {{ bansos.destination_kabupaten_kota }}, {{ bansos.receiving_provinsi.area_name }}.</p>
                <a href="{% url 'distribusi:update_shipping' bansos.id_bansos_group %}" class="btn btn-danger">View History
                    <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF">
                        <g><rect fill="none" height="24" width="24" x="0"/></g><g><g><g>
                        <path d="M21,10.12h-6.78l2.74-2.82c-2.73-2.7-7.15-2.8-9.88-0.1c-2.73,2.71-2.73,7.08,0,9.79s7.15,2.71,9.88,0 C18.32,15.65,19,14.08,19,12.1h2c0,1.98-0.88,4.55-2.64,6.29c-3.51,3.48-9.21,3.48-12.72,0c-3.5-3.47-3.53-9.11-0.02-12.58 s9.14-3.47,12.65,0L21,3V10.12z M12.5,8v4.25l3.5,2.08l-0.72,1.21L11,13V8H12.5z"/>
                    </g></g></g></svg>
                </a>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
    </div>
{% endblock %}