{% extends 'base8000.html' %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'distribusi/distribusi-bansos.css' %}">
    <script src="{% static 'distribusi/js/update-shipping.js' %}" defer></script>
{% endblock %}


{% block title %}
    {% if corresponding_group.status == 'received' %}
        Previous Shipping Information
    {% else %}
        Update Shipping Information
    {% endif %}
{% endblock %}

{% block nav %}
    <li class="nav-item">
        <a href="{% url 'add_info' %}" class="nav-link">My Profile</a>
    </li>
    <li class="nav-item">
        <a href="{% url 'distribusi:tracking_admin_dashboard' %}" class="nav-link">Tracking Dashboard</a>
    </li>
{% endblock %}

{% block rightnav %}
<li class="nav-item">
    <div class="nav-link" style="color:white;">
        Hello, {{ user.admin.name }} 
    </div>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'beranda:logout_beranda' %}">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF" class="svg-as-button">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M17 7l-1.41 1.41L18.17 11H8v2h10.17l-2.58 2.58L17 17l5-5zM4 5h8V3H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h8v-2H4V5z"/>
        </svg>
    </a>
</li>
{% endblock %}

{% block body %}
<div class="title-container">
    <h1>
        {% if corresponding_group.status == 'received' %}
        Previous Shipping Information
        {% else %}
        Update Shipping Information
        {% endif %}
    </h1>
    <div class="preliminary-info-container">
        <h3>ID Group Bansos #{{ corresponding_group.id_bansos_group }}</h3>
    </div>
</div>

<section id="update-shipping-content">
    <form method="POST" action="">
        {% csrf_token %}
        {% if corresponding_group.status != 'received' %}
        <div class="special-form-container">
        <div class="row">
            <div class="col-sm-6">
                <label for="new-kelurahan">Current Urban Village</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="23.8" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                                <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                                <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            </svg>
                        </div>
                    </div>
                    <input 
                    id="new-kelurahan" 
                    name="new-kelurahan"
                    class="form-control"
                    placeholder="Enter Kelurahan"
                    />
                </div>
            </div>
            <div class="col-sm-6">
                <label for="new-kecamatan">Current Sub-District</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="23.8" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                                <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
                            </svg>
                        </div>
                    </div>
                    <input 
                    id="new-kecamatan" 
                    name="new-kecamatan"
                    placeholder="Enter Kecamatan"
                    class="form-control"
                    />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <label for="new-kabupaten-kota">Current District/City</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="23.8" fill="currentColor" class="bi bi-building" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694 1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
                                <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
                            </svg>
                        </div>
                    </div>
                    <input 
                    id="new-kabupaten-kota" 
                    name="new-kabupaten-kota"
                    class="form-control"
                    placeholder="Enter Kabupaten Kota"
                    />
                </div>
            </div>
            <div class="col-sm-6">
                <label for="new-provinsi">Current Province</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="23.8" fill="currentColor" class="bi bi-map" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M15.817.113A.5.5 0 0 1 16 .5v14a.5.5 0 0 1-.402.49l-5 1a.502.502 0 0 1-.196 0L5.5 15.01l-4.902.98A.5.5 0 0 1 0 15.5v-14a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0L10.5.99l4.902-.98a.5.5 0 0 1 .415.103zM10 1.91l-4-.8v12.98l4 .8V1.91zm1 12.98 4-.8V1.11l-4 .8v12.98zm-6-.8V1.11l-4 .8v12.98l4-.8z"/>
                            </svg>
                        </div>
                    </div>
                    <select id="new-provinsi" name="new-provinsi" class="form-select">
                        {% for area in area_options %}
                            <option value='{{ area.area_code }},{{ area.area_name }}'>{{ area.area_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <label for="new-status">Current Status</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="23.8" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                            </svg>
                        </div>
                    </div>
                <select 
                id="new-status" 
                name="new-status"
                class="form-select">
                        <option disabled selected>Select Status</option>
                    {% for status in status_choice %}
                        <option value='{{ status.0 }}'>{{ status.1 }}</option>
                    {% endfor %}
                </select>
                </div>
            </div>
        </div>

        <div class="btn-container">
            {% if corresponding_group.status == 'received' %}
                <button type="button" class="btn btn-primary disabled" data-bs-toggle="modal" data-bs-target="#update-modal">Save</button>
            {% else %}
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#update-modal" onclick="updateConfirmation()">Save</button>
            {% endif %}
            <input type="button" class="btn btn-danger" onclick="window.location.href='/distribusi/tracking-admin-dashboard/'" value="Cancel">
        </div>
        {% endif %}
        <div class="modal fade" id="update-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title">Confirmation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <div id="confirmation-location-info"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Revise</button>
                    <button type="submit" class="btn btn-primary disabled" id="confirmation-update-button">Confirm</button>
                </div>
            </div>
        </div>
        </div>
    </form>

    </div>
    <div class="special-form-container past-location-container">
        <h2>Destination Information</h2>
            <div class="row">
                <div class="col">
                    <strong>Urban Village:</strong>
                </div>
                <div class="col">
                    <span>{{ corresponding_group.destination_kelurahan }}</span>
                </div>
            </div>  
            <div class="row">
                <div class="col">
                    <strong>Sub-District:</strong>
                </div>
                <div class="col">
                    <span>{{ corresponding_group.destination_kecamatan }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <strong>District/City:</strong>
                </div>
                <div class="col">
                    <span>{{ corresponding_group.destination_kabupaten_kota }}</span>
                </div>
            </div>  
            <div class="row">
                <div class="col">
                    <strong>Province:</strong>
                </div>
                <div class="col">
                    <span>{{ corresponding_group.receiving_provinsi.area_name }}</span>
                </div>
            </div>
        <hr>
        <h2>Past Location Information</h2>
        <div class="table-overflow-container">
            <table class="table past-location-table">
                <thead>
                <tr>
                    <th>Status</th>
                    <th>Past Urban Village</th>
                    <th>Past District</th>
                    <th>Past District/City</th>
                    <th>Past Province</th>
                    <th>Time Stamp</th>
                </tr>
                </thead>
                <tbody>
                {% for past_location in past_locations %}
                    <tr>
                        <td>{{ past_location.status }}</td>
                        <td>{{ past_location.kelurahan }}</td>
                        <td>{{ past_location.kecamatan }}</td>
                        <td>{{ past_location.kabupaten_kota }}</td>
                        <td>{{ past_location.provinsi }}</td>
                        <td>{{ past_location.time_stamp }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
        {% if corresponding_group.status == 'received' %}
        <div class="btn-container">
            <input type="button" class="btn btn-danger" onclick="window.location.href='/distribusi/tracking-admin-dashboard/'" value="Back">
        </div>
        {% endif %}
    </div>
</section>
{% if errors %}
    <div class="error-container">
        <div class="alert alert-danger alert-dismissible align-items-center d-flex fade show" role="alert">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.146.146 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.163.163 0 0 1-.054.06.116.116 0 0 1-.066.017H1.146a.115.115 0 0 1-.066-.017.163.163 0 0 1-.054-.06.176.176 0 0 1 .002-.183L7.884 2.073a.147.147 0 0 1 .054-.057zm1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566z"/>
                <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995z"/>
            </svg>
            <div>
                The previous input violates the following constraints.
                <ul>
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
{% endif %}
{% endblock %}