form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
}

input[type="text"], input[type="password"], select{
    width: 100%;
    border-radius: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: none;
    background-color: #EEEEEE;
    margin: 10px 0;
}
input[type="submit"] {
    max-width: 25%;
}
.buttoncontainer {
    display: flex;
    justify-content: center;
}
.invalid {
    background-color: rgb(255, 179, 179) !important;
    border-width: 4px;
    border: 2px solid red;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgb(255, 179, 179) inset !important;
}

.max, form {
    width: 100%;
}
.container {
    padding: 15px;
}
label {
    margin-left: 10px;
}