@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
:root {
    /* --main-peduli-blue: #2A98DC; */
    --main-peduli-blue: rgb(33, 150, 243);
}
body {
    background: #FAFAFA;
}
#container-bansos-table input {
    border: none;
}

.enclosing-div {
    padding: 25px;
}

.preliminary-container {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: white;
}

/* Adapted from pedulilindungi Status Kesehatan container */
.special-form-container {
    background: white;
    text-align: left;
    border-radius: 8px;
    box-shadow: 0px 4px 16px rgb(0 0 0 / 10%);
    padding: 1.5rem;
    width: 80vw;
    margin-left: 10vw;
    margin-bottom: 20px;
}

.between-two {
    position: relative;
    top: -150px;
}

.special-form-container > h5, h2, strong, label {
    font-family: 'Roboto', sans-serif;
}

.input-grey {
    background: #E6F4F6;
}

.title-container {
    text-align: center;
    background: var(--main-peduli-blue);
    padding-top: 30px;
    padding-bottom: 200px;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.title-container h1 {
    font-size: 3rem;
}


.subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
}

.thead-blue {
    background: var(--main-peduli-blue);
    color: white;
    border: none;
}

.thead-left {
    border-top-left-radius: 10px;
}

.thead-right {
    border-top-right-radius: 10px;
}

.table-history tr:nth-child(even) {
    background: #EAF5FA;
}

.bansos-container {
    margin-top: 20px;
}

#bansos-admin-section {
    margin-top: -150px;
}

.btn-curious {
    background: var(--main-peduli-blue) !important;
    color: white;
    outline: var(--main-peduli-blue) solid 2px;
    margin-right: 5px;
    margin-left: 5px;
}

.without-margin {
    margin-right: 0;
}

.btn-curious-bordered {
    outline: white solid 2px;
}

.btn-curious:hover, .btn-curious-selected {
    background: white !important;
    color: var(--main-peduli-blue);
}

/* Override class */
.input-group-text {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

a {
    text-decoration: none;
}

#update-shipping-content {
    position: relative;
    top: -150px;
}

.overflow-scroll-table-container {
    overflow-x: scroll;
}

.past-location-container > h2 {
    color: var(--main-peduli-blue);
}

.past-location-table tr:nth-child(even) {
    background: #EAF5FA;
}

.table-alternating tr:nth-child(even) {
    background: #EAF5FA;
}

.tracking-card-container {
    display: grid;
    grid-template-columns: repeat(4, 18vw);
    margin-left: 4vw;
    width: 80vw;
}

.tracking-card {
    box-shadow: 0px 4px 16px rgb(0 0 0 / 10%);
    grid-column: span 2;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 25px;
    background: white;
    border: none;
    height: fit-content;
}

.tracking-card-container h3 {
    grid-column: span 4;
    text-align: center;
    margin-top: 25px;
    font-family: 'Roboto', sans-serif;
    color: var(--main-peduli-blue);
}

.enclosing-container {
    width: 80vw;
    box-shadow: 0px 4px 16px rgb(0 0 0 / 10%);
    margin-left: 10vw;
    position: relative;
    top: -80px;
    background: white;
    border-radius: 8px;
    /* padding: 1rem; */
    padding-bottom: 25px;
    
}

.blue-box {
    height: 150px;
    background: var(--main-peduli-blue);
}



.inline-heading {
    display: inline;
    flex-direction: row;
    text-align: center;
}

.inline-heading h3 {
    color: var(--main-peduli-blue);
    font-family: 'Roboto', sans-serif;
}

.rotate-180 {
    transform: rotate(180deg);
}

.animated {
    transition-duration: .3s;
}

.card-header {
    background: #285CAD;
    color: white;
    padding: 0.7rem;
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
}

.card {
    border-radius: 12px !important;
    border: none;
}

.adjusted-section {
    position: relative;
    top: -180px;
}

.special-form-container-title {
    width: 80vw;
    margin-left: 10vw;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 10px;
    background: rgb(188, 230, 249);;
    
}

.special-form-container-title h2 {
    margin-bottom: 0;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    color: black;
}

.with-title {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.with-title h3 {
    font-family: 'Roboto', sans-serif;
}

#past-location-container{
    overflow-x: scroll;
}

.table-overflow-container {
    overflow-x: scroll;
}

.align-left {
    text-align: left;
}

.correction-div {
    height: 100px;
}

.bansos-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 18vw);
    grid-gap: 1.25vw;
}

.card-one {
    grid-column: span 1;
    box-shadow: 0px 4px 16px rgb(0 0 0 / 10%);
}

.card-one-footer {
    position: relative;
    bottom: 0;
}

.bansos-stat-title {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    /* color: #229BD8; */
    color: var(--main-peduli-blue);
}

.container-title {
    font-size: 1.8rem;
    font-weight: bold;
}

.grid-padding {
    padding-left: 2vw;
    padding-right: 2vw;
    max-height: 200rem;
    overflow: scroll;
}

.red {
    background: #dc3545;
}

.orange {
    background: #fd7e14;
}

.green {
    background: #146c43;
}

.error-container {
    position: absolute;
    top: 250px;
    width: 50%;
    margin-left: 25%;
}

.special-grey {
    background: #EEEEEE;
    border: none;
}

.special-grey:focus {
    outline: none;
    background: #EEEEEE;
}

.try-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.percent-100 {
    width: 100%;
}

.container-jenis-bansos {
    overflow-x: scroll;
}

.container-jenis-bansos input {
    padding: 10px;
}

.container-jenis-bansos input[type='text'], input[type='number'] {
    background: #EEEEEE;
}

.dropdown-item {
    color:rgb(33, 150, 243);
}

li.nav-item a.nav-link {
    /* color: white !important; */
}

.svg-as-button:hover {
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    .card-one {
        grid-column: span 2;
    }
}

@media only screen and (max-width: 800px) {
    .card-one {
        grid-column: span 4;
    }

    .title-container h1 {
        font-size: 2.5rem;
    }

    .title-container h2 {
        font-size: 1.5rem;
    }

    .tracking-card {
        grid-column: span 4;
    }
}

@media only screen and (max-width: 550px) {
    .btn-group {
        margin-top: 15px;
    }
}

.badge {
    background-color: grey;
}

