{% extends 'base8000.html' %}
{% load static %}

<title>{% block title %}Lapor {% endblock %}</title>
{% block head %}
<link rel="stylesheet" href="{% static 'css/lapor.css' %}">
<link rel="stylesheet" href="{% static 'css/empty.css' %}">
{% endblock %}
<body>
    {% block nav %}
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
      Dashboard
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/user">My Profile</a></li>
      <li><a class="dropdown-item" href="/user/dashboard/mybansos">MyBansos</a></li>
      <li><a class="dropdown-item" href="/user/dashboard/history">History</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/laporan" role="button">
      Report Bansos
    </a>
  </li>
  {% endblock %}
    {% block rightnav %}
    <li class="nav-item">
        <div class="nav-link" style="color:white;">
            Hello, {{ user.name }} 
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/beranda/logout">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF" class="svg-as-button">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M17 7l-1.41 1.41L18.17 11H8v2h10.17l-2.58 2.58L17 17l5-5zM4 5h8V3H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h8v-2H4V5z"/>
            </svg>
          </a>
    </li>
{% endblock %}
    {% block body %}
    <div class="peduli-blue header"><h1>Report <u>Your</u> Bansos</h1></div>
    <div class="message-box">
    {% if action == "empty" %}
    <p class="message">Seems like none of your bansos have arrived yet redirecting to home in <span class="countdown">10</span></p>
    {% elif action == "saved" %}
    <p class="message update">Successfully submitted your report. Taking you back in <span class="countdown">3</span></p>
    {% endif %}
    </div>
    {% endblock %}
</body>
{% block script %}
<script src="{% static 'js/redirect.js' %}"></script>
{% endblock %}