{% extends 'base8000.html' %}
{% load static %}
<title>
{% block title %}
{{ action }} Report
{% endblock %}
</title>
{% block head %}
<link rel="stylesheet" href="{% static 'css/lapor.css' %}">
<link rel="stylesheet" href="{% static 'css/generate.css' %}">
{% endblock %}
<body>
  {% block nav %}
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
      Dashboard
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="/user">My Profile</a></li>
      <li><a class="dropdown-item" href="/user/dashboard/mybansos">MyBansos</a></li>
      <li><a class="dropdown-item" href="/user/dashboard/history">History</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/laporan" role="button">
      Report Bansos
    </a>
  </li>
  {% endblock %}
  {% block rightnav %}
    <li class="nav-item">
        <div class="nav-link" style="color:white;">
            Hello, {{ user.name }} 
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/beranda/logout">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#FFFFFF" class="svg-as-button">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M17 7l-1.41 1.41L18.17 11H8v2h10.17l-2.58 2.58L17 17l5-5zM4 5h8V3H4c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h8v-2H4V5z"/>
            </svg>
          </a>
    </li>
{% endblock %}
    {% block body %}
    <div class="peduli-blue header">
        <h1>
            {{ action }} Report for Bansos #{{ bansos.id_bansos }}
        </h1>
    </div>
    <form method="POST">
        <div class="container show">
            {% csrf_token %}
            <div class="subcontainer">
            <label class="label" for="">Category: </label>
                <div class="btn-group" role="group">
                {% for choice in form.complaint_category %}
                    {{ choice.tag }}
                    <label class="btn btn-outline-primary" for="id_complaint_category_{{ forloop.counter0 }}">{{ choice.choice_label }}</label>
                {% endfor %}
                <span class="subheading">&nbsp;&nbsp;&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                  </svg>&nbsp;&nbsp;select one</span>
                </div>
            </div>
            <div>
            <div class="subcontainer2">
            <label class="label" for="">Your message: </label>
            {{ form.complaint }}
            </div>
            </div>
        </div>
        <div class="button-container">
        <a role="button" class="btn btn-secondary" href="/laporan">Back</a>
        <button type="button" class="btn btn-lg btn-primary submit" data-bs-toggle="modal" data-bs-target="#submit">
            {{ action2 }}
          </button>
        </div>  
        <div class="modal fade" id="submit" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Are You Sure?</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Please check your report again for mistakes. If you are already sure click "Yes"</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button class="btn btn-primary" type="submit">Yes</button>
                </div>
              </div>
            </div>
          </div>
    </form>
    {% endblock %}
</body>
{% block script %}
<script src="{% static 'js/generate.js' %}"></script>
{% endblock %}
</html>